<%= provide :title, "new report catalog"%>
<div class="row">
    <div class="span6 offset3">
        <%= form_for(@catalog) do |f| %>
        <%= render 'shared/catalog_error_message' %>
        
        <%= f.label :name , "new title"%>
        <%= f.text_field :name %>
        
        <%= f.label :document, "how to write report" %>
        <%= f.text_area :document, rows: "15" %>
        
        <%= f.submit "Create report title", class: "btn btn-large btn-primary" %>
        <% end %>
    </div>
</div>
