<div class="row inactivated">
    <%= form_for(@user.activation, remote: true) do |f| %>

    <div>
        <%= f.hidden_field :activation_status, value: "activated"%>
    </div>
    <div class="span1">
        <%= gravatar_for @user, size:40%>
    </div>
    <div class="span4">
        <%= link_to @user.name, @user%> | <%= @user.email%>
    </div>
    <div class="span2">
        created at <%= @user.created_at.to_date%>
    </div>
    <div class="span3">
        <%= f.submit "Inactive", class: "btn btn-warning" %>
    </div>
    <div class="span2">
        <%= link_to "edit",@user,class:"btn"%>
    </div>
    <% end %>

</div>
