<div class="row-fluid">
    <%= render 'gen'%>
    <% if params[:type] and params[:user_id]%>
    <div class="row-fluid">
        <div class="span9">
            <% @catalog_ids = Catalog.find(:all,select: :id,order: :id).map{|c| c.id} %>
            <table class="table table-bordered">
                <thead>
                    <th><%= @type%></th>
                    <%Catalog.all.each do |v|%>
                    <th><%= v.name %></th>
                    <% end %>
                </thead>

                <tbody>
                    <% case @type%>
                    <% when "week"%>
                    <% @reports.group_by(&:week).each do |val,r2| %>
                    <% @val = val
                      @r2 = r2%>
                    <%= render 'row'%>
                    <% end %>
                    <% when "month"%>
                    <% @reports.group_by(&:month).each do |val,r2| %>
                    <% @val = val
                      @r2 = r2%>
                    <%= render 'row'%>
                    <% end %>
                    <% when "year"%>
                    <% @reports.group_by(&:year).each do |val,r2| %>
                    <% @val = val
                      @r2 = r2%>
                    <%= render 'row'%>
                    <% end %>
                    <% end%>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
    <%= render 'gen_excel'%>
</div>
<% end %>
</div>

